[Unit]
Description=Ollama Service
After=network-online.target

[Service]
ExecStart=/run/current-system/sw/bin/ollama serve
Restart=always
RestartSec=3
Environment="PATH=$PATH"

[Install]
WantedBy=default.target
